<footer>
    <div class="container">
        <div class="row justify-content-lg-between">
            <div class="col-lg-6 d-flex flex-wrap justify-content-center navBar mb-2">
                <div><a href="#">服務方案</a></div>
                <div><a href="#">關於職旅</a></div>
                <div><a href="#">聯絡我們</a></div>
                <div><a href="#">隱私權政策</a></div>
                <div><a href="#">用戶條款</a></div>
            </div>
            <div class="col-lg-6 align-content-center copyright">
                <p>Copyright © 2025 職旅 workway. All rights reserved.</p>
            </div>
        </div>
</footer>