
.ml-a{
    margin-left: auto;
}

.mr-a{
    margin-right: auto;
}

header{
  border-bottom: 1px solid #D1D9E1;

  .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .navbar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    a{
      padding: 8px 24px;
      color: #141A1F;
      
      &:hover{
        color: #4A69E8;
      }
    }
  }

  .account{
    display: flex;
    justify-content: center;
    align-items: center;

    img{
      border-radius: 64px;
      width: 44px;
      height: 44px;
      margin-right: 12px;
    }
  }
  
}