img{
    display: block;
}

.hero-bg{
    background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week6/index/gradient-ball.png?raw=true');
    background-repeat: no-repeat;
    background-size: 800px;
    background-position-x: center;
    background-position-y: 40px;
    
}

.px-4-5{
    padding-left: 20px;
    padding-right: 20px;
}

.mw-815{
    max-width: 815px;
}

.story-bg{
    background:linear-gradient(to top,$natural-95 25%,transparent 25%)
;
    
}

.choose-card{
    overflow: hidden;
    border-radius:24px 0 24px 0 ;
}

.line{
    height: 1px;
    width: 72%;
    background-color:$natural-85;
}

.card-title{
    width: fit-content;
    overflow: hidden;
    border-radius: 0 12px 0 0;
    padding: 12px 24px 12px 12px;
    position: absolute;
    bottom: 48px;
}

.h706{
    height: 706px;
}